body {
    background: #f6f6f6;
}

.container {
    border-radius: 5px;
}

.paper {
    padding: 1em;
    margin: 1em 0;
}

.subtitle {
    padding: 1em 0;
    color: gray;
}

.MuiSvgIcon-root:hover {
    cursor: pointer;
}

.disabled {
    opacity: .5;
    text-decoration: line-through;
}

.addBtn {
    height: 55px;
}